<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="<%= BASE_URL %>bookky-logo.svg">
    <link rel="shortcut icon" type="image/png" href="/favicon.ico">
    <!-- <title><%= htmlWebpackPlugin.options.title %></title> -->
    <title>Bookky.com | Be home & Book the best doctor around</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
