@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");

:root {
  --primary: #49596f;
  --shadow: #444b55;
  --dark: #354050;
  --highlight: #9fa6b2;
  --light: #f2f2f2;
  --accent: #c6575f;
  --negative: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*:before,
*:after {
  box-sizing: border-box;
}

a:link,
a:visited {
  text-decoration: none;
}
/*
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--light) url('img/bg.svg');
  background-size: 12px;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--primary);
}

a:hover,
a:active {
  color: var(--accent);
}

h3,
h4,
h5,
h6,
p {
  color: var(--primary);
}

h1 {
  background-color: var(--primary);
  color: var(--negative);
  text-align: center;
}

h2 {
  background-color: var(--accent);
  color: var(--negative);
  text-align: center;
}

.container,
.container-fluid {
  background-color: var(--negative);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  padding: 80px;
}

.row {
  background-color: var(--accent);
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  padding-bottom: 15px;
  padding-top: 15px;
}
*/
