:root {
  /* Color Palette */
  --primary: #49596f;
  --dark: #354050;
  --highlight: #9fa6b2;
  --light: #f2f2f2;
  --negative: #ffffff;
  --primaryHover: #444b55;
  --text: #393a36;
  --lightGradient: linear-gradient(180deg, #ffc46b 0%, #e8c084 100%);
  --darkGradient: linear-gradient(180deg, #b35209 0%, #f47e24 100%);
  --shadowColor: #444b55;
  --lightGrey: #d3d3d3;
  --accent: #0262f3;
  --accentHover: #90c0fe;
  /* Box Shadow */
  --shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
  --shadowHover: 0 0 20px 10px rgba(0, 0, 0, 0.15);
  --shadowSoft: 0 0 5px 3px rgba(0, 0, 0, 0.05);
}
