a:link,
a:visited {
  color: var(--dark);
  padding: var(--spaceXS) var(--spaceMD);
  text-decoration: none;
  /* border-radius: var(--roundLG);
    background-color: var(--light); */
  text-align: left;
  transform: scale(1);
  /* text-transform: lowercase; */
}

a:hover,
a:active {
  transform: scale(1.1);
  /* color: var(--negative); */
  /* background-color: var(--primaryHover);  */
  /* text-align: center; */
}
