:root {
  /* Typesize */
  --xxl: 36px;
  --xl: 30px;
  --lg: 24px;
  --md: 18px;
  --sm: 16px;
  --xs: 12px;
  --xxs: 10px;
  /* Type Weight */
  --bold: 700;
  --semiBold: 600;
  --medium: 500;
  --regular: 400;
  --light: 300;
  --ultraLight: 100;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--text);
  /* text-transform: lowercase; */
}

h1 {
  font-size: var(--xxl);
  font-weight: var(--medium);
}

h2 {
  font-size: var(--xl);
  font-weight: var(--semiBold);
}

h3 {
  font-size: var(--lg);
  font-weight: var(--light);
}

h4 {
  font-size: var(--md);
  font-weight: var(--medium);
}

p {
  font-size: var(--sm);
  font-weight: var(--regular);
}
