<template>
  <div class="container">
    <div id="header" class="row pt-3">
      <div class="col-12 d-flex flex-row justify-content-between align-items-center">
        <Logo/>
        <ProfileIcon/>
      </div>
    </div>
    <DoctorProfile v-if="Object.keys(doctor).length > 0" :doctor=doctor />
    <ClinicProfile v-if="Object.keys(clinic).length > 0" :clinic=clinic />
  </div>
</template>

<script>
import Logo from '../components/Logo.vue'
import ProfileIcon from '../components/ProfileIcon.vue'
import DoctorProfile from "../views/DoctorProfile.vue"
import ClinicProfile from "../views/ClinicProfile.vue"

export default {
  name: "App",
  components: {
     "Logo": Logo,
     "ProfileIcon": ProfileIcon,
     "DoctorProfile" : DoctorProfile,
     "ClinicProfile" : ClinicProfile,
  },
  data(){
    return {
      doctor: {},
      clinic: {},
    }
  },
  computed: {
    uid () {
        if(this.$route.params.uid)
          return this.$route.params.uid
        else return '';
    },
  },
  mounted() {
    fetch("http://localhost:1339/indices?uid="+this.uid)
        .then((res) => res.json())
        .then((data) => {
            if(data[0].doctor)
                this.doctor = data[0].doctor;
            else if(data[0].site)
                this.clinic = data[0].site;
      });
  },
};

</script>

