<template>
    <div class="row">
        <div class="col-md-6 col-lg-7">
            <img :src="imageLink + doctor.photo.formats.small.url" v-if="doctor.photo" @error="onImgError()" :alt="doctor.name +' - '+ doctor.speciality"/>
            <h1>{{doctor.name}}</h1>
            <h2>{{doctor.degree}}</h2>
        </div>
        <div class="col-md-6 col-lg-5" v-if="!gotoPayment">
            <div class="row">
                <div class="col">
                    <h1>Consultations</h1>
                    <Consultation 
                        v-for="consultation in consultations"
                        v-bind:key="consultation.id"
                        :consultation="consultation"
                        :doctorId="doctor.id"
                    />
                </div>
            </div> 
            <div class="row">
                <div class="col">
                    <button @click="gotoPayment= !gotoPayment"> Confirm Booking</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Consultation from "../components/Consultation.vue";

export default {
  name: "DoctorProfile",
  components: {
      Consultation
  },
  props: {
    doctor: Object
  },
  data(){
    return {
		imageLink: "http://localhost:1339",
		imgError: false,
        fullBio: false,
        gotoPayment: false,
        activeTab: '',
        consultations: [],
     
    }
  },
  mounted() {
    fetch("http://localhost:1339/consultations?doctor="+this.doctor.id)
        .then((res) => res.json())
        .then((data) => {
            this.consultations = data;
      });
  },
    // computed: {
    //     dates() {
    //         const days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];

    //         const d = new Date();
    //         let day = days[d.getDay()];
    //     }

    // },
  computed: {
        truncatedBio(){
            const reqdString = 
              this.doctor.bio.split("").slice(0, 200).join("");
            return reqdString;
        }
    }
};

</script>

