<template>
  <div class="container">
    <HomeHeader/>
    <HomeMain/>
    <HomeFooter/>
  </div>
</template>

<script>
import HomeHeader from '../sections/HomeHeader.vue'
import HomeMain from '../sections/HomeMain.vue'
import HomeFooter from '../sections/HomeFooter.vue'

export default {
  name: 'Home',
  components: {
    HomeHeader,
    HomeMain,
    HomeFooter
  }
}
</script>