<template>
    <div class="col-12 col-md-6 col-lg-3 col-xxl-2">
        <a :href="'/' + clinic.index.uid">
          <!-- <img class="doc-img" :src="imageLink + clinic.photo.formats.small.url" v-if="clinic.photo" @error="onImgError()" :alt="clinic.name"/> -->
          <p>{{clinic.name}}</p>
        </a>
    </div>
</template>

<script>
export default {
  name: 'Clinic',
  props: {
    clinic: Object
  },
  data(){
    return {
		imageLink: "http://localhost:1339",
		imgError: false
    }
  }
}
</script>

<style scoped>
  .doc-img {
    width: 90px;
    height: 90px;
    /* bg/alert */
    border-radius: 10%;
  }
</style>
