<template>
  <div @click="toggleDetails = !toggleDetails" class="row">
    <div class="col">
      <h2>{{consultation.site.name}}</h2>
      <h3>{{consultation.site.address}}</h3>
      {{ moment(new Date()).format("ddd MMM DD, YYYY [at] HH:mm a") }}
    </div>
  </div>
  <div v-if="toggleDetails" class="row">
    <div class="col">
      <ul>
        <li @click="dailySchedule(day)" v-for="(day, index) in days" v-bind:key="index">
          {{day}}     
        </li> 
      </ul>
      <div class="row">
        <div class="col">
          <DailySchedule 
            :selectedDate="selectedDate ?  selectedDate : days[0]"
            :schedule="consultation.schedule"
            :doctorId="doctorId"
            :siteId="consultation.site.id"
          />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from 'moment';
import DailySchedule from './DailySchedule.vue';
export default {
  name: "Consultations",
  components: {
    DailySchedule
  },
  props: {
    consultation: Object,
    doctorId: Number
  },
  data(){
    return {
      toggleDetails: false,
      selectedDate: ''
    }
  },
  created: function () {
    this.moment = moment;
  },
  computed: {
    days: function(){

      let days = [];
      let daysRequired = 7

      for (let i = 1; i <= daysRequired; i++) {
        days.push(this.moment().add(i, 'days').format('dddd- Do MMM YY'))
      }
      console.log(days)
      //let now = new Date();
      return days;
        
      // return this.moment(new Date()).format("ddd MMM DD, YYYY [at] HH:mm a");
    },
  },
  methods: {
    dailySchedule(day) {
      this.selectedDate = day;
    }
  }
}
</script>
