<template>
    <h1 v-if="dailySchedule.length > 0">Consultation Timing</h1>
    <h2 v-else>No consultation this day</h2>
    <div class="row" v-for="daysch in dailySchedule"
        v-bind:key="daysch.id">
        <div class="col-12">
            From {{daysch.start}} to {{daysch.end}}
        </div> 
        <div class="col-12">
            <h1>Tokens</h1>
            <ul>
                <li @click="selectToken(token)" v-for="(token, i) in displayTokens(daysch.tokenCount)"
                    v-bind:key="i">{{token}}
                </li>
            </ul>
        </div>   
    </div>

</template>

<script>

export default {
  name: "DailySchedule",
  props: {
    selectedDate: String,
    schedule: Array,
    doctorId: Number,
    siteId: Number
  },
  data(){
    return {
		selectedToken: '',  
    }
  },
  computed: {
    dailySchedule: function(){
        let day = this.selectedDate.split("-")[0];
        let todaysSchedule = []

        for(let schedule of this.schedule) {
            if(schedule.day == day) {
                todaysSchedule.push(schedule)
            }
        }
        return todaysSchedule;
    }
  },
  methods: {
    displayTokens(count) {
        let tokens = []
        let bookedTokens = [1,3,4,5,6,10,12,14] // dummy booked tokens
        for (let i = 1; i <= count; i++) {
            if(!bookedTokens.includes(i)) { // check to avoid already booked tokens
                tokens.push(i)
            }
        }
        return tokens;
    },
    selectToken(token) {
        this.selectedToken = {
            'doctorId': this.doctorId,
            'siteId': this.siteId,
            'date': this.selectedDate,
            'tokenNo': token
        }
        console.log(this.selectedToken)
    }
  }
}
</script>