<template>
  <div class="col-12 col-md-6 col-lg-4">
      <div class="rectangle-card">
        <div class="row">
          <div class="col">
            <img
              :src="imageLink + doctor.photo.formats.small.url"
              v-if="doctor.photo"
              @error="onImgError()"
              :alt="doctor.name + ' - ' + doctor.speciality"
            />
          </div>
          <div class="col mt-3 mr-3">
            <span 
              v-for="speciality in (doctor.speciality || '').split(',').slice(0, 2)" 
              :key="speciality" 
              class="card-tag"
            >
            {{ speciality }}
            </span>
            <h1>{{ doctor.name }}</h1>
            <h2>{{ doctor.degree }}</h2>
            
          </div>
        </div>
        <router-link :to="'/' + doctor.index.uid">
          <div class="row card-bottom p-3">
            <div class="col">
              <span class="link-text">
                Book Now
                <svg width="12" height="10" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z" fill="#753BBD"/>
                </svg>
              </span>
            </div>
          </div>
        </router-link>
      </div> 
  </div>

    <!-- <a :href="'/' + doctor.index.uid" class="listing-item-container compact">
						<div class="listing-item">
							<img :src="imageLink + doctor.photo.formats.small.url" v-if="doctor.photo" @error="onImgError()" :alt="doctor.name +' - '+ doctor.speciality"/>

							<div class="listing-badge now-open">Now Open</div>

							<div class="listing-item-content">
								<span class="tag">General Medicine</span>
								<h3>{{doctor.name}} <i class="verified-icon"></i></h3>
								<span>{{doctor.degree}}</span>
							</div>
							<span class="like-icon"></span>
						</div>
					</a> -->
    <!-- <a :href="'/' + doctor.index.uid">
          <img class="doc-img" :src="imageLink + doctor.photo.formats.small.url" v-if="doctor.photo" @error="onImgError()" :alt="doctor.name +' - '+ doctor.speciality"/>
          <p>{{doctor.name}}</p>
        </a> -->
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    doctor: Object,
  },
  data() {
    return {
      imageLink: "http://localhost:1339",
      imgError: false,
    };
  },
};
</script>

<style scoped>
.doc-img {
  width: 90px;
  height: 90px;
  /* bg/alert */
  border-radius: 50%;
}
</style>
