<template>
    <banner>
        <div class="row logo-container">
            <Logo/>
        </div>
    </banner>
</template>

<script>
 import Logo from '../components/Logo.vue'
// import ProfileIcon from '../components/ProfileIcon.vue'

export default {
  name: 'HomeBanner',
  components: {
    Logo,
    // ProfileIcon,
  }
}
</script>

<style>
    #banner {
        height: 500px;
        background-image: url('../assets/images/tele-med.png');
        background-repeat: repeat-x;
        background-position: center;
        position: relative; 
    }
    .logo-container {
        margin: 0;
        position: absolute;
        top: 38%;
        left: 27%;
        -ms-transform: translate(-75%, -40%);
        transform: translate(-75%, -40%);
    }

</style>