<template>
    <a href="/">
        <img src="../assets/images/bookky-logo.svg" style="width: 200px;" alt="Bookky.com"/>
        <span class="tagline">Be home & Book the best Doctor</span>
    </a>
</template>

<script>
export default {
  name: "Logo",
  props: {
    // style: String
  },
}
</script>

<style>
.tagline {
    display: block;
    font-size: 12px;
    letter-spacing: .7px;
    margin-top: -5px;
    margin-left: 2px;
}
</style>