<template>
  <div class="row p-5">
    <div class="col d-flex justify-content-center">
      <h1>Clinics Around You</h1>
    </div>
  </div>
  <div class="row">
    <Clinic 
      v-for="clinic in clinics"
      v-bind:key="clinic.id"
      :clinic="clinic"
    />  
  </div>
</template>

<script>

import Clinic from "../components/Clinic.vue";

export default {
  name: "App",
  components: {
    "Clinic": Clinic
  },
  data(){
    return {
      clinics: [],
    }
  },
  mounted() {
    fetch("http://localhost:1339/clinics?type=clinic&type=hospital")
      .then((res) => res.json())
      .then((data) => {
        this.clinics = data;
      });
  }
};

</script>
