<template>
  <div class="row p-5">
    <div class="col d-flex justify-content-center">
      <h1>Doctors Around You</h1>
      
    </div>
  </div>
  <div class="row">
    <doctor 
        v-for="doctor in doctors"
        v-bind:key="doctor.id"
        :doctor="doctor"
    /> 
  </div>    
</template>

<script>

import Doctor from "../components/Doctor.vue";

export default {
  name: "App",
  components: {
    "doctor": Doctor
  },
  data(){
    return {
      doctors: [],
      imageLink: "http://localhost:1339/doctors/"
    }
  },
  mounted() {
    fetch("http://localhost:1339/doctors")
      .then((res) => res.json())
      .then((data) => {
        this.doctors = data;
      });
  }
};

</script>
