<template>
  <!-- <div id="header" class="row pt-3">
    <div class="col-12 d-flex flex-row justify-content-between align-items-center">
      <Logo/>
      <ProfileIcon/>
    </div>
  </div> -->
  <div id="banner" class="row d-none d-md-block">
    <div class="col-sm-12 d-flex justify-content-center">
      <HomeBanner/>
    </div>
  </div>
</template>

<script>

// import Logo from '../components/Logo.vue'
// import ProfileIcon from '../components/ProfileIcon.vue'
import HomeBanner from '../components/HomeBanner.vue'

export default {
  name: 'HomeHeader',
  components: {
    // Logo,
    // ProfileIcon,
    HomeBanner
  }
}
</script>