<template>
  <main>
    <DoctorsList/>
    <ClinicsList/>
  </main>
</template>

<script>
import DoctorsList from '../sections/DoctorsList.vue'
import ClinicsList from '../sections/ClinicsList.vue'

export default {
  name: 'HomeMain',
  components: {
    DoctorsList,
    ClinicsList
  }
}
</script>


