@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700;900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"); */
@import url("css/bootstrap-grid.css");
@import url("css/reset.css");
@import url("css/spacing.css");
@import url("css/color-palette.css");
@import url("css/typography.css");
@import url("css/links.css");
@import url("css/button.css");
@import url("css/image.css");
@import url("css/main-content.css");
@import url("css/sidebar.css");
@import url("css/footer.css");
@import url("css/navigation.css");
/* @import url("css/wireframe-style.css"); */

/* Rectangle - card */
.rectangle-card {
  position: relative;
  height: 200px;
  border: 1px dashed var(--lightGrey);
  border-radius: var(--roundML);
  /* padding: var(--spaceLG); */
  margin-top: var(--spaceLG);
}
.rectangle-card:hover {
  /* border: 1.5px dashed var(--lightGrey); */
  box-shadow: var(--shadowSoft);
}

.rectangle-card h1 {
  font-size: var(--sm);
  font-weight: var(--semiBold);
}

.rectangle-card h2 {
  font-size: var(--xs);
  font-weight: var(--ultraLight);
}

.rectangle-card img {
  padding: var(--spaceSM);
  border-radius: var(--roundML) var(--roundML) 0 var(--roundML);
  vertical-align: middle;
}

.card-top {
  width: 100%;
}

.card-bottom {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 50%;
  border-top: 1px dotted var(--lightGrey);
}

.link-text {
  display: block;
  color: var(--shadowColor);
  font-size: var(--sm);
  font-weight: var(--ultraLight);
  line-height: 1.2;
  margin: auto 0 0;
  transition: all 0.45s ease;
}
.link-text:hover {
  color: var(--dark);
  font-weight: var(--light);
  margin-left: var(--spaceXS);
}
.link-text svg {
  margin-left: var(--spaceXS);
}
.link-text:hover svg {
  margin-left: var(--spaceSM);
}

.card-tag {
  font-size: var(--xxs);
  font-weight: var(--regular);
  color: var(--negative);
  background-color: var(--highlight);
  /* border: 1px solid var(--highlight); */
  border-radius: var(--roundMD);
  padding: var(--spaceXS) var(--spaceSM);
  margin-bottom: var(--spaceXS);
  margin-right: var(--spaceXS);
  display: inline-block;
}
