<template>
  <!-- route outlet -->
  <!-- component matched by the route will render here -->
  <router-view></router-view>
</template>

<script>
// import Home from './views/Home.vue'

export default {
  name: 'App',
  // components: {
  //   Home
  // }
}
</script>

<style>
  @import '~@/assets/style.css';
  /* @import '~@/assets/css/bootstrap-grid.css'; */
  /* @import '~@/assets/css/style2.css'; */
  /* @import '~@/assets/css/wireframe-style.css'; */
</style>
<style>
/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */
</style>
